:root {
    font-size: 16px;
    --bg-color: #EDF2F4;
    --rich-black: #050517;
    --pantone-red: #EF233C;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 3rem;
}

header > ul {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
}

header > ul > li {
    display: inline;    
    list-style: none;
    font-size: 1.5rem;
}

header > ul > li > a {
    color: var(--rich-black);
    text-decoration: none;
}

header > ul > li > a:hover {
    color: var(--pantone-red);
}

.hero {
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: center;
}

.hero-copy {
    grid-area: 1 / 1;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #05051766;
    padding: 2rem 0 2rem 0;
    color: var(--bg-color);
    cursor: default;
}

.about {
    width: min(80vw, 800px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.about > div > h2 {
    font-size: 2rem;
}

.about > div > p {
    font-size: 1.25rem;
}

.menu {
    width: min(90vw, 1000px);
    margin: 0 auto;
    display: grid;
    align-content: center;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 300px 300px;
}

.menu-title {
    grid-area: 1 / 1 / auto / span 3;
    text-align: center;
}

.menu-item {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 40px 3fr 1fr 1fr;
}

.menu-item-img {
    max-width: 200px;
    aspect-ratio: 1/1;
}

.menu-item-name {
    font-size: 1em;
}

.menu-item p {
    font-size: 0.75em;
    text-align: center;
}

section {
    width: 100dvw;
    height: 80dvh;
}

section > img {
    width: 100dvw;
    height: 80dvh;
    object-fit: none;
    grid-area: 1 / 1;
}

footer > p {
    text-align: center;
}

footer > p:hover {
    text-decoration: underline var(--pantone-red);
}

@media screen and (max-width: 550px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
        margin: 2rem auto 0.25rem auto;
    }
    .menu {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 300px 300px 300px;
    }

    div.body{
        display: flex;
        align-items: center;
    }

    div.body > section {
        flex: 1;
    }

    .menu-item {
        grid-column: 1;
    }
}

@media screen and (max-width: 360px) {
    h1 {
        font-size: 1.75rem;
    }
    header > ul > li {
        font-size: 1.25rem;
    }
}